Debug/
x64/
Hangman/x64/
Hangman/Debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/Hangman/v15/Browse.VC.opendb
.vs/Hangman/v15/Browse.VC.db
.vs/Hangman/v15/ipch/AutoPCH/21481ad4fd8d9c8/STATISTICSMANAGER.ipch
.vs/Hangman/v15/ipch/AutoPCH/8db5f0ac1bd125a3/CONSTANTS.ipch
*.db
